#flexBox{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(117, 24, 134);
    margin-bottom: 50px;
}
#flex_block{
    display: flex;
    justify-content: space-between;
}
.letter{
    position: absolute;
    width: 50%;
    height: 50%;
}
#letter1{
    top:50%;
    left: 0%;
}
#letter2{
    top:0%;
    left: 50%;
}
#mouse{
    top:0%;
    left: 50%;
    display: block;
    width: 10%;
    height: 10%;
    position: absolute;
    offset-path: path("M 43.570312,24.929688 L 43.570312,43.773438 L 54.046875,43.773438 C 56.765597,43.773464 58.582001,43.363308 59.496094,42.542969 C 60.714811,41.464872 61.394498,39.566437 61.535156,36.847656 L 62.835937,36.847656 L 62.835937,53.441406 L 61.535156,53.441406 C 61.206998,51.121113 60.878874,49.632833 60.550781,48.976563 C 60.128875,48.156272 59.437469,47.511741 58.476562,47.042969 C 57.515596,46.574242 56.039035,46.339868 54.046875,46.339844 L 43.570312,46.339844 L 43.570312,62.054688 C 43.570297,64.164069 43.664047,65.44727 43.851562,65.904297 C 44.039047,66.361332 44.367172,66.724613 44.835937,66.994141 C 45.304671,67.263675 46.195295,67.39844 47.507812,67.398438 L 55.59375,67.398438 C 58.289033,67.39844 60.246062,67.210941 61.464844,66.835938 C 62.683559,66.460941 63.855433,65.722661 64.980469,64.621094 C 66.433556,63.167976 67.921836,60.976572 69.445312,58.046875 L 70.851562,58.046875 L 66.738281,70 L 30,70 L 30,68.699219 L 31.6875,68.699219 C 32.812496,68.69922 33.878901,68.429689 34.886719,67.890625 C 35.636712,67.515628 36.146477,66.953128 36.416016,66.203125 C 36.685539,65.45313 36.820304,63.917975 36.820312,61.597656 L 36.820312,30.625 C 36.820304,27.601605 36.515617,25.738326 35.90625,25.035156 C 35.062493,24.097702 33.656245,23.628953 31.6875,23.628906 L 30,23.628906 L 30,22.328125 L 66.738281,22.328125 L 67.265625,32.769531 L 65.894531,32.769531 C 65.402307,30.261759 64.857385,28.539104 64.259766,27.601563 C 63.662074,26.664106 62.777309,25.949263 61.605469,25.457031 C 60.667937,25.105514 59.015594,24.929733 56.648437,24.929688 L 43.570312,24.929688 z ");
}
@keyframes colorChange{
    0%{
        color: black;
    }
    100%{
        color: yellow;
    }
}
@keyframes mouseMove{
    0%{
        offset-distance:0%;
    }

    100%{
        offset-distance:100%;
    }
}   
#flexBox:hover #mouse{
    animation: mouseMove 5s linear infinite;
}
.hide{
    opacity: 0;
}
@keyframes visible{
    100%{
        opacity: 1;
    }
}
#flexBox:active .hide{
    animation: visible 2s linear;
    animation-fill-mode: forwards;
}
#flexBox:active .letter{
    animation: colorChange 2s linear;
    animation-fill-mode: forwards;
}
#hide_text{
    position: absolute;
    top:36%;
    left: 12%;
    color: white;
    font-size: 110%;
}
#hide_img{
    position: absolute;
    top:0%;
    left: 7%;
    width: 50%;
    height: 50%;
}
@keyframes moves{
    0%{
        top:0px;
    }
    100%{
        top:30px;
    }
}
#flexBox:active{
    animation: moves 0.1s linear infinite alternate;
}